<p>https://www.w3schools.com/howto/img_avatar.png</p>
<p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Image</button>
<p>{{ showImg }}</p>
<app-img
  *ngIf="showImg"
  (loaded)="onLoaded($event)"
  [img]="imgParent"
></app-img>
<hr />

<app-product [product]="product" *ngFor="let product of products">
</app-product>

<h1>Form</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Name</label>
    <input
      type="text"
      required
      id="name"
      name="name"
      [(ngModel)]="register.name"
    />
    <p>Error messages</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      required
      id="email"
      name="email"
      [(ngModel)]="register.email"
    />
    <p>Error messages</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      type="password"
      required
      name="password"
      id="password"
      [(ngModel)]="register.password"
    />
    <p>Error messages</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
  <button type="button">Action</button>
</form>
<hr />

<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  Input is required
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div
    [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      display: 'block'
    }"
  ></div>
</div>

<hr />
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  Input is required
</p>
<label>Name</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">text</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" alt="image" [style.width.px]="widthImg" />
  </div>
</div>
<hr />

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">I am nicolas</p>
  <p *ngSwitchCase="'julian'">I am julian</p>
  <p *ngSwitchCase="'camilo'">I am camilo</p>
  <p *ngSwitchDefault>No match</p>
</div>

<h1>*ngFor Obj</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<h1>*ngFor</h1>
<input type="text" [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <p *ngIf="names.length === 0">Add names to the list</p>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}<button (click)="delete(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name" />
<p *ngIf="person.name === 'rpxic' && person.age === 34; else elseBlock">
  I am rpxic
</p>
<p *ngIf="person.name !== 'rpxic'">I am not rpxic</p>
<ng-template #elseBlock>
  <p>Else Block</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Name {{ person.name }}</p>
<p>Valid: {{ nameInput.valid }}</p>

<input
  type="number"
  max="18"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Age {{ person.age }}</p>
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>Events</h1>
<button [disabled]="btnDisabled">Send</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Age {{ person.age }}</p>
<button (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex repellat minus
    adipisci, deserunt fuga illo inventore ducimus expedita hic dignissimos
    aliquid laboriosam qui esse accusamus amet quo laborum repellendus.
    Distinctio!
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Name {{ person.name }}</p>

<hr />
<h1>Properties</h1>
<button [disabled]="btnDisabled">Send</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="image" width="50" />

<hr />
<h1>Hello World</h1>
<h2>{{ "Hello World".repeat(3) }}</h2>
<h3>Hello, I'm {{ name }}, I have {{ [1, 2].reverse() }} years old</h3>
<img src="{{ img }}" alt="image" width="50" />
